<%-include('header')-%>


    <div class="text-center center-div" id="login">
        <div class="container w-25 border py-5">
            <div class="title pb-5">
                <h2 class="font-weight-bold">
                    Login System
                </h2>
                <span>Log in for the existing user</span>
                <% if(locals.logout) {%>
                    <div class="alert alert-success text-center">
                        Logout Successfully...!
                    </div>
                    <% } %>
            </div>
            <form action="/route/login" method="POST">
                <div class="form-group mb-3">
                    <input type="email" class="form-control mb-1" placeholder="email" name="email">
                    <small class="form-text text-muted text-start m-0">Register email address</small>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="password">
                </div>
                <button type="submit" class="btn btn-success mt-3 rounded-pill">Submit</button>
            </form>
        </div>
    </div>
    <%-include('footer')-%>